extends layout

block content
  .container
    .row
      .col-md-10.col-md-offset-1
        .panel.panel-default
          .panel-heading
            .panel-title Create Card
          .panel-body
            if submiterr
              .alert.alert-danger
                p Could not create card. #{submiterr}
            form.prevent-enter-submit(action='/cards/new', method='POST')

              .form-group
                label.sr-only(for='year') Year
                .input-group
                  .input-group-addon Year
                  input.form-control.input-md(type='text', placeholder='Year', name='year', id='year')
              
              each language in languages
                .form-group
                  label.sr-only(for='#{language}') #{language}
                  .input-group
                    .input-group-addon #{language}
                    input.form-control.input-md(name='#{language}', id='#{language}', placeholder='Question in this language')

              p.lead Category

              .form-group
                .input-group.col-md-4
                  each category in categories
                    .radio
                      label(for='#{category.category}')
                        input(type='radio', name='category', id='#{category.category}', value=category.category)
                        | #{category.category}
          
              .form-group
                .input-group.col-md-4
                  button.btn.btn-success.btn-block(type='submit') Create Card
