extends layout

block content
  .row.col-md-10.col-md-offset-1
    h1 Edit Card

  .row.col-md-10.col-md-offset-1    
    form.prevent-enter-submit(action='/cards/edit/#{card._id}', method='POST')
      .form-group
        label(for='question') Question
        input.form-control(type='text', id='question', name='question', value='#{card.question}')

      .form-group
        label(for='year') Year
        input.form-control(type='text', id='year', name='year', value='#{card.year}')

      each language in card.existinglanguages
        .form-group
          label(for='#{language}') #{language}
          if card.languages != null
            if (typeof card.languages[language] != 'undefined')
              input.form-control(name='#{language}', id='#{language}', placeholder='Question in this language', value='#{card.languages[language]}')
            else
              input.form-control(name='#{language}', id='#{language}', placeholder='Question in this language')
          else 
            input.form-control(name='#{language}', id='#{language}', placeholder='Question in this language')

      .form-group
        label Category
        each category in categories
          .radio
            label(for='category-#{category.category}')
              input(type='radio', name='category', id='category-#{category.category}', value=category.category, checked=(category.category.valueOf() == card.category.valueOf()))
              | #{category.category}

      button.btn.btn-primary(type='submit') Save
