extends layout

block content
  .container

    if cards.length <= 0
      .row
        .col-md-10.col-md-offset-1    
          .alert.alert-info No cards yet.
    else
      .row
        .col-md-10.col-md-offset-1    
          .panel.panel-default
            .panel-heading
              h3.panel-title Cards
                .pull-right
                  a.userlink.pull-right.panel-right-margin(href='/cards/new', data-toggle="tooltip", title='New card')
                    button.btn.btn-success.btn-xs(type='button')
                      i.fa.fa-plus

            .panel-body
              table.table.table-hover.table-bordered.table-striped
                tbody
                  each card in cards
                    tr(class= row_class)
                      td #{card.question}
                      td #{card.year}
                      td 
                        a(href='/cards/category/#{card.category}', data-toggle="tooltip", title='View all #{card.category} cards') #{card.category}
                      td
                        a.pull-right(href='/cards/edit/#{card._id}')
                          button.btn.btn-success.btn-xs(type='button')
                            span.glyphicon.glyphicon-wrench(aria-hidden='true', data-toggle="tooltip", title='Edit this card')
                      
                      if user.role == 'admin'
                        td 
                          a.pull-right(href='/cards/delete/#{card._id}')
                            button.btn.btn-danger.btn-xs(type='button')
                              span.glyphicon.glyphicon-remove(aria-hidden='true', data-toggle="tooltip", title='Delete this card')


