extends layout

block content
  .view-header.row.col-md-10.col-md-offset-1
    h1 Export Cards

    p Choose a file to save cards to or enter a filename to create a new file.

    .alert.alert-warning.alert-dismissible(role='alert')
      strong Warning!
      |    Saving to an existing file will overwrite it.

  .row.col-md-10.col-md-offset-1
    if files.length <= 0
      .alert.alert-info No files yet.
    else
      table.table.table-hover
        thead
          table-hover
            th.sortable(data-default-direction='1') Filename
            th(data-default-direction='1')
        tbody
          each file in files
            tr(class= row_class)
              td
                a.pull-left(href='/cards/export/#{file}/#{category}') #{file}
              td 
                a.pull-right(href='/cards/deletefile/#{file}')
                  button.btn.btn-danger.btn-xs(type='button')
                    span.glyphicon.glyphicon-remove(aria-hidden='true', data-toggle="tooltip", title='Delete "#{file}"')              


  .row.col-md-10.col-md-offset-1    
    form.prevent-enter-submit(action='/cards/export/#{category}', method='POST')

      .form-group
        label(for='filename') Filename
        input.form-control(type='text', id='filename', name='filename')

      button.btn.btn-primary(type='submit') Create File
