extends layout

block content

  .container
    .row
      .col-md-10.col-md-offset-1
        h1 Categories

    if categories.length <= 0
      .row
        .col-md-10.col-md-offset-1
          .alert.alert-info No categories yet.
    else
      if user.role == 'admin'
        .row
          .col-md-10.col-md-offset-1        
            .alert.alert-warning.alert-dismissible(role='alert')
              strong Warning!
              |  If you delete a category that still has cards in it those cards will be orphaned. You can check if a category has cards in it by clicking it and removing or reassigning those cards to other categories.
          
        .row
          .col-md-4.col-md-offset-1
            a.userlink(href='/category/new')
              .padding-vertical-10px
                button.btn.btn-success.btn-block(type='button') Create new category

      .row
        .col-md-4.col-md-offset-1
          table.table.table-hover.table-striped.table-bordered
            tbody
              each category in categories
                tr(class= row_class)
                  td
                    a(href='/cards/category/#{category.category}', data-toggle="tooltip", title='View all #{category.category} cards') #{category.category}
                  if user.role == 'admin'
                    td.col-xs-1
                      a.pull-right(href='/category/delete/#{category.category}')
                        button.btn.btn-danger.btn-xs(type='button')
                          span.glyphicon.glyphicon-remove(aria-hidden='true', data-toggle="tooltip", title='Delete "#{category.category}"')
